.div1 {
	background-color: green;
    width: 390px;
    height: 550px;
	border-radius: 40px;
	margin: 0 auto;
}	
.a1 {
	color: white;
	background-color: black;
}	
body {
	background-color: violet;
}	
a {
	color: blue;
	background-color: white;
}